<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example
    </title>
</head>
<body>


<DIV><a th:href="@{/logout}">Sign Out</a></DIV>

<h1> Ohai!</h1>

<P> Welcome to the secret page of this application. </P>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>
<div>
    <strong>Logged-in user</strong>: <span sec:authentication="name">Bob</span> <br/>

    <strong>Roles</strong>: <span sec:authentication="principal.authorities">[ROLE_USER, ...]</span>
</div>
</body>
</html>