<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
</head>
<body>
	<h1>■ここは全ユーザ使用可能ページです■</h1>
	
	<h2 th:text="${name}"></h2>
	
	<h2 th:text="${role}"></h2>
	
	<a href="#" th:href="@{/home}">&lt;&lt; home.</a>
	<a href="#" th:href="@{/hello}">&lt;&lt; hello.</a>
	
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>