<component name="libraryTable">
  <library name="spring-security-config-3.1.3.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework.security/spring-security-config/3.1.3.RELEASE/jar/71aae96fb3227d2d18f7e0c149ae827e7f261a7e/spring-security-config-3.1.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework.security/spring-security-config/3.1.3.RELEASE/source/b4f31f5dfbf7982246b492264d5e774f2dc20a1a/spring-security-config-3.1.3.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>