<component name="libraryTable">
  <library name="spring-context-4.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-context/4.0.0.BUILD-SNAPSHOT/jar/d9e951c48139e407e4186d7057c50ecdd36e1e99/spring-context-4.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-context/4.0.0.BUILD-SNAPSHOT/source/8cef28a1e9589d535ff7b320dae000cad917e35c/spring-context-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>