<component name="libraryTable">
  <library name="spring-bootstrap-starter-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework.bootstrap/spring-bootstrap-starter/0.5.0.BUILD-SNAPSHOT/jar/297cee8223c562be8d0a2377d7b6c311ce87eec5/spring-bootstrap-starter-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>