<component name="libraryTable">
  <library name="spring-bootstrap-web-starter-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework.bootstrap/spring-bootstrap-web-starter/0.5.0.BUILD-SNAPSHOT/jar/149ce79f5e6e1526a2d3d096f36591ce5d8d24ea/spring-bootstrap-web-starter-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>