<component name="libraryTable">
  <library name="spring-aop-4.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-aop/4.0.0.BUILD-SNAPSHOT/jar/16bfc803888220734381cfd6096e9d22c6318192/spring-aop-4.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-aop/4.0.0.BUILD-SNAPSHOT/source/df2e53c133963939fd2c549bb20a836ac1c6c2aa/spring-aop-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>