<component name="libraryTable">
  <library name="spring-expression-4.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-expression/4.0.0.BUILD-SNAPSHOT/jar/22db239baea6f96aca6d98917d7e7cceae62fe71/spring-expression-4.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework/spring-expression/4.0.0.BUILD-SNAPSHOT/source/ddafc2902c253ed5e890d618cde36a3e78595843/spring-expression-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>