<component name="libraryTable">
  <library name="spring-security-javaconfig-1.0.0.CI-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework.security/spring-security-javaconfig/1.0.0.CI-SNAPSHOT/jar/f0e1c755bac9b6aa8fcc916364b86ed1b1d00131/spring-security-javaconfig-1.0.0.CI-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-23/filestore/org.springframework.security/spring-security-javaconfig/1.0.0.CI-SNAPSHOT/source/2449737b17d409157a6ca3156db91986e0a48613/spring-security-javaconfig-1.0.0.CI-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>